body
{
	color:black;
	font-family: Rockwell, Courier, Georgia, Times, "Times New Roman", serif;
 	background-color:#FBA919;
}

h1, #dtx, #dias, h2, #hh
{
	background-color: #EEE8AA;
}
#header{
   text-align: center;
	padding-left: 12%;
   font-size: 150%;
}

#nombre, h1, #top, h2, #abt, b, #head, #dtx, #prod, #hr, #formu
{
	text-align: center;
}

#nombre,#dul{
	background-attachment: fixed;
	background-size: 100%;
	padding: 0% 32% 0% 1%;
	color: #FBA919;
}

#tab{
	padding-left: 2%;
	border: double;
	font-size: 75%;
}

#hr
{
    margin-top: 6%;
    padding-left: 4%;
	padding-right: 4%;
	font-size: 150%;

}

table
{
  background-color:#EEE8AA;
  padding:2%;
  border-style: solid;
  border-color: black;
}


#top
{
	font-size: 200%;
	padding-top: 2.5%;
	padding-bottom: 3.5%;
	padding-left: 8%;
}

h2
{
	position: absolute;
	top: -25px;
	left: 0;
	width: 100%;
	text-decoration: underline;
	font-size: 16;
}



 #ph
{
	padding: 2%;
	font-size: 180%;
	

}


footer
{
	color: black;
	font-weight: bold;
	
}

input[type="submit"] {
    border-radius: 5px;
    margin: 10px 0;
    background: #0088B2;
    color: #fff;
    padding: 8px 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
   
}
